<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>自定义UI</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>自定义UITableView左滑</string>
				<key>class</key>
				<string>LGHLeftSlipViewController</string>
				<key>isPush</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>自定义UITableView编辑状态下的CheckBox</string>
				<key>class</key>
				<string>LGHCheckboxViewController</string>
				<key>isPush</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>自定义Tabbar01</string>
				<key>class</key>
				<string>LGHTabBar01ViewController</string>
				<key>isPush</key>
				<false/>
			</dict>
			<dict>
				<key>title</key>
				<string>自定义Tabbar02</string>
				<key>class</key>
				<string>LGHTabbar02ViewController</string>
				<key>isPush</key>
				<false/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>自定义控件</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>自定义的Button</string>
				<key>class</key>
				<string>LGHCustomButtonViewController</string>
				<key>isPush</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>解决UIButton多次连续点击问题</string>
				<key>class</key>
				<string>LGHButtonClickProblemController</string>
				<key>isPush</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>页面布局</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>UITableView+UICollectionView+UIScrolleView的页面布局</string>
				<key>class</key>
				<string>LGHLeftSlipViewController</string>
				<key>isPush</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>WKWebView+UITableView布局(文章内容+评论)</string>
				<key>class</key>
				<string>LGHWebTableViewController</string>
				<key>isPush</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView+WKWebView布局(商品+详情)</string>
				<key>class</key>
				<string>LGHTableWebViewController</string>
				<key>isPush</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView+WKWebView+UITableView布局(商品内容+详情+商品推荐)</string>
				<key>class</key>
				<string>LGHTableWebTableViewController</string>
				<key>isPush</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>微博复杂页面布局(布局+性能优化)</string>
				<key>class</key>
				<string>LGHWeiboHomeViewController</string>
				<key>isPush</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableViewCell的折叠</string>
				<key>class</key>
				<string>LGHTableViewFoldController</string>
				<key>isPush</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView每个Section设置为圆角</string>
				<key>class</key>
				<string>LGHCornerRadiusViewController</string>
				<key>isPush</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>动画</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>基础动画</string>
				<key>class</key>
				<string>LGHLeftSlipViewController</string>
				<key>isPush</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>性能优化</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>App启动时间优化</string>
				<key>class</key>
				<string>LGHStartTimeOptimizeViewController</string>
				<key>isPush</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>App首页的卡顿优化(以小鸡游戏世界为例)</string>
				<key>class</key>
				<string>LGHLeftSlipViewController</string>
				<key>isPush</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>底层原理</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>KVC</string>
				<key>class</key>
				<string>LGHKVCViewController</string>
				<key>isPush</key>
				<true/>
			</dict>
			<dict>
				<key>title</key>
				<string>KVO</string>
				<key>class</key>
				<string>LGHKVOViewController</string>
				<key>isPush</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>内存管理</string>
				<key>class</key>
				<string>LGHARCViewController</string>
				<key>isPush</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Timer问题解决方案1</string>
				<key>class</key>
				<string>LGHTimer01ViewController</string>
				<key>isPush</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Timer问题解决方案2(通过中介者解决)</string>
				<key>class</key>
				<string>LGHTimer02ViewController</string>
				<key>isPush</key>
				<string>1</string>
			</dict>
			<dict>
				<key>title</key>
				<string>Timer问题解决方案三(NSProxy虚基类，此方法5星推荐)</string>
				<key>class</key>
				<string>LGHTimer03ViewController</string>
				<key>isPush</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>源码分析</string>
		<key>list</key>
		<array>
			<dict>
				<key>title</key>
				<string>ReactiveCocoa</string>
				<key>class</key>
				<string>LGHReactiveCocoaViewController</string>
				<key>isPush</key>
				<true/>
			</dict>
		</array>
	</dict>
</array>
</plist>
